* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: #001e4d;
}

.navbar {
    background-color: #46807d;
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: space-between; /* Ensure logo and sign-in button are spaced */
    align-items: center;
    padding: 10px 20px; /* Add padding to the navbar */
}

.navbar p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}

.menu {
    display: flex;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form styles */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #66c36b;
}

/* Sign-in button styles */
#signInButton {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#signInButton:hover {
    background-color: #001e4d;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 900px; /* Adjust max-width */
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 35px;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
    font-size: 28px;
    color: #001e4d;
    font-weight: 600;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 300;
    font-size: larger;
    width: 100%;
    border: 1px solid #222;
    padding: 20px; /* Adjust padding */
    margin: 20px 0;
    text-align: center; /* Center align text */
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}

.btn-disabled {
    cursor: no-drop;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    font-size: large;
    border: 0;
    padding: 10px;
    margin: 30px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        margin-top: 10px; /* Adjust margin */
    }

    .modal-content {
        width: 90%;
        max-width: 300px;
    }

    .app {
        width: 90%;
        margin: 20px auto;
    }

    .quiz h2 {
        font-size: 24px; /* Decrease font size */
    }

    .btn {
        padding: 15px; /* Adjust padding */
        font-size: medium; /* Decrease font size */
        max-width: 250px; /* Adjust max-width */
    }
}